<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>traderharish An index trader & Programmer </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<style>
  body{
    background-image: url("crypto.jpg");
  }
  .tradingview-widget-container{
       margin-left   : -5px; 
  }
</style>
    <title></title>
</head>
<body>
  <!--
<ul>
  <li>
 <a href="cryptoo.html"> Crypto market</a>
  </li>

  <li>
    <a href="https://traderharish.epizy.com"> indian market</a>
     </li>

     <li>
      <a href="pricepc.html">prices </a>
       </li>
      -->


<!-- TradingView Widget END -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Crypto & stocks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-4 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="indexs">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cryptoo">Crypto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="news">Cryptocurriences News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="world">world Stock markets</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://kite.zerodha.com/">Zerodha</a></li>
            <li><a class="dropdown-item" href="https://login.upstox.com/">Upstox</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://groww.in/">Grow</a></li>
            <li><a class="dropdown-item" href="https://accounts.binance.com/en/login?return_to=aHR0cHM6Ly93d3cuYmluYW5jZS5jb20vZW4vdmlwLXBvcnRhbA==">Binance</a></li>
          </ul>
        </li> <li class="nav-item">
          <a class="nav-link" href="chat">chat with traders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="viewmsg">chat Reply to &nbsp &nbsptraders</a>
        </li>
        
      </ul>
      
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="future & Option Trading " aria-label="Search">
       
        <a class="btn btn-outline-success" href="https://upstox.com/open-demat-account/?f=4WBMU4">Start</a>
      </form>
      
    </div>
  </div>
</nav>





      <ul>

      <li>
       <div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright">
    <a href="https://in.tradingview.com/markets/stocks-india/" rel="noopener" target="_blank">
      <span class="blue-text">Stock quotes</span>
    </a> by TradingView
  </div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
    "title": "Stocks",
    "tabs": [
      {
        "title": "Financial",
        "symbols": [
          {"s": "NYSE:JPM", "d": "Jpmorgan Chase & Co"},
          {"s": "NYSE:WFC", "d": "Wells Fargo Co New"},
          {"s": "NYSE:BAC", "d": "Bank Amer Corp"},
          {"s": "NYSE:HSBC", "d": "Hsbc Hldgs Plc"},
          {"s": "NYSE:C", "d": "Citigroup Inc"},
          {"s": "NYSE:MA", "d": "Mastercard Incorporated"}
        ]
      },
      {
        "title": "Technology",
        "symbols": [
          {"s": "NASDAQ:AAPL", "d": "Apple"},
          {"s": "NASDAQ:GOOGL", "d": "Google Inc"},
          {"s": "NASDAQ:MSFT", "d": "Microsoft Corp"},
          {"s": "NASDAQ:FB", "d": "Meta Platforms, Inc"},
          {"s": "NYSE:ORCL", "d": "Oracle Corp"},
          {"s": "NASDAQ:INTC", "d": "Intel Corp"}
        ]
      },
      {
        "title": "Services",
        "symbols": [
          {"s": "NASDAQ:AMZN", "d": "Amazon Com Inc"},
          {"s": "NYSE:BABA", "d": "Alibaba Group Hldg Ltd"},
          {"s": "NYSE:T", "d": "At&t Inc"},
          {"s": "NYSE:WMT", "d": "Wal-mart Stores Inc"},
          {"s": "NYSE:V", "d": "Visa Inc"}
        ]
      }
    ],
    "width": 481,
    "height": 695,
    "showChart": true,
    "showFloatingTooltip": false,
    "locale": "in",
    "plotLineColorGrowing": "#2962FF",
    "plotLineColorFalling": "#2962FF",
    "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
    "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
    "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
    "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
    "gridLineColor": "rgba(240, 243, 250, 0)",
    "scaleFontColor": "rgba(120, 123, 134, 1)",
    "showSymbolLogo": true,
    "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
    "colorTheme": "dark",
    "chartsStorageUrl": "https://saveload.tradingview.com",
    "chartsStorageApiVersion": "1.1",
    "client_id": "tradingview.com",
    "user_id": "public_user_id",
    "auto_save_delay": 2,
    "enabled_features": ["side_toolbar_in_fullscreen_mode"],
    "loading_screen": { "backgroundColor": "#08121c" },
    "chartType": "candlestick",
    "studies": [
      "MACD@tv-basicstudies",
      "RSI@tv-basicstudies"
    ],
    "timeframe": "D",
    "range": "all",
    "container_id": "tradingview-widget"
  }
  </script>
</div>

      
      
        
      
        
      </li>
  <li>
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright">
    <a href="https://in.tradingview.com/markets/stocks-india/" rel="noopener" target="_blank">
      <span class="blue-text">Stock quotes</span>
    </a> by TradingView
  </div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
    "title": "Stocks",
    "tabs": [
      {
        "title": "Financial",
        "symbols": [
          {"s": "NYSE:JPM", "d": "Jpmorgan Chase & Co"},
          {"s": "NYSE:WFC", "d": "Wells Fargo Co New"},
          {"s": "NYSE:BAC", "d": "Bank Amer Corp"},
          {"s": "NYSE:HSBC", "d": "Hsbc Hldgs Plc"},
          {"s": "NYSE:C", "d": "Citigroup Inc"},
          {"s": "NYSE:MA", "d": "Mastercard Incorporated"}
        ]
      },
      {
        "title": "Technology",
        "symbols": [
          {"s": "NASDAQ:AAPL", "d": "Apple"},
          {"s": "NASDAQ:GOOGL", "d": "Google Inc"},
          {"s": "NASDAQ:MSFT", "d": "Microsoft Corp"},
          {"s": "NASDAQ:FB", "d": "Meta Platforms, Inc"},
          {"s": "NYSE:ORCL", "d": "Oracle Corp"},
          {"s": "NASDAQ:INTC", "d": "Intel Corp"}
        ]
      },
      {
        "title": "Services",
        "symbols": [
          {"s": "NASDAQ:AMZN", "d": "Amazon Com Inc"},
          {"s": "NYSE:BABA", "d": "Alibaba Group Hldg Ltd"},
          {"s": "NYSE:T", "d": "At&t Inc"},
          {"s": "NYSE:WMT", "d": "Wal-mart Stores Inc"},
          {"s": "NYSE:V", "d": "Visa Inc"}
        ]
      }
    ],
    "width": 481,
    "height": 695,
    "showChart": true,
    "showFloatingTooltip": false,
    "locale": "in",
    "plotLineColorGrowing": "#2962FF",
    "plotLineColorFalling": "#2962FF",
    "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
    "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
    "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
    "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
    "gridLineColor": "rgba(240, 243, 250, 0)",
    "scaleFontColor": "rgba(120, 123, 134, 1)",
    "showSymbolLogo": true,
    "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
    "colorTheme": "dark",
    "chartsStorageUrl": "https://saveload.tradingview.com",
    "chartsStorageApiVersion": "1.1",
    "client_id": "tradingview.com",
    "user_id": "public_user_id",
    "auto_save_delay": 2,
    "enabled_features": ["side_toolbar_in_fullscreen_mode"],
    "loading_screen": { "backgroundColor": "#08121c" },
    "chartType": "candlestick",
    "studies": [
      "MACD@tv-basicstudies",
      "RSI@tv-basicstudies"
    ],
    "timeframe": "D",
    "range": "all",
    "container_id": "tradingview-widget"
  }
  </script>
</div>



  </li>

  <li style="margin-top:-17px;">
   <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="" rel="noopener" target="_blank"><span class="blue-text">Futures</span></a>, <a href="https://in.tradingview.com/markets/bonds/" rel="noopener" target="_blank"><span class="blue-text">Bonds</span></a> <span class="blue-text">and</span> <a href="https://in.tradingview.com/markets/currencies/" rel="noopener" target="_blank"><span class="blue-text">Forex</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
  {
  "width": 481,
  "height": 695,
  "symbolsGroups": [
  
    {
      "name": "Bonds",
      "originalName": "Bonds",
      "symbols": [
        {
          "name": "CME:GE1!",
          "displayName": "Eurodollar"
        },
        {
          "name": "CBOT:ZB1!",
          "displayName": "T-Bond"
        },
        {
          "name": "CBOT:UB1!",
          "displayName": "Ultra T-Bond"
        },
        {
          "name": "EUREX:FGBL1!",
          "displayName": "Euro Bund"
        },
        {
          "name": "EUREX:FBTP1!",
          "displayName": "Euro BTP"
        },
        {
          "name": "EUREX:FGBM1!",
          "displayName": "Euro BOBL"
        }
      ]
    },
    {
      "name": "Forex",
      "originalName": "Forex",
      "symbols": [
        {
          "name": "FX:EURUSD",
          "displayName": "EUR/USD"
        },
        {
          "name": "FX:GBPUSD",
          "displayName": "GBP/USD"
        },
        {
          "name": "FX:USDJPY",
          "displayName": "USD/JPY"
        },
        {
          "name": "FX:USDCHF",
          "displayName": "USD/CHF"
        },
        {
          "name": "FX:AUDUSD",
          "displayName": "AUD/USD"
        },
        {
          "name": "FX:USDCAD",
          "displayName": "USD/CAD"
        }
      ]
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "dark",
  "isTransparent": false,
  "locale": "in"
}
  </script>
</div>
<!-- TradingView Widget END -->
  </li>
</ul>





<style>

ul{
  display: inline;
}

li{
  float: left;
  margin-left:2%
}

</style>



</body>
</html>
